/* Limpiar estilos */
a {
    text-decoration: none;
    color: black;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.desplegable > ul {
    display: none;
}

.desplegable:hover > ul {
    display: block;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 10px;
}