/* Limpiar estilos */
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color:black;
}

.desplegable > ul {
    display: none;
}

.desplegable:hover > ul {
    display: block;
}

.desplegable:after {
    font-family:'Genericons';
    /* content: "\142F"; */
    /* content: "\2B9B"; */
    content: "\1F863";
    padding: 1px;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 10px;
}

footer {
    display: flex;
}

footer > div > ul {
    display: flex;
    flex-direction: row;
}