* {
    margin: 0px;
    padding: 0px;
}


#header {
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    margin-left: 500px;
    margin-right: 100px;
}

ul,
ol {
    list-style: none;

}

.nav>li {
    float: left;
    padding: 0;
    height: 80px;
}

.nav li a {
    background-color: #44828d;
    color: black;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #865151;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 163px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    left: 150px;
    top: 0px;
}

/* estilo del section */

#descripcion_inicio {
    background-image: url(imgs/_DSF2990.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 55%;
}

#descripcion_cup {
    float: right;
    height: 30vh;
    width: 40ch;
    background-color: red;
    border-radius: 2.5%;
    margin: 10px 10px;
    opacity: 0.5;
    margin-top: 250px;
    margin-right: 250px;
}

#descripcion_cup p {
    margin: 15px 15px;
}

/* estilo de seccion novedades */

#novedades {
    max-width: 700px;
    margin: 50px auto;
    /* background-color: red; */
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

#novedades img {
    max-height: 180px;
}

.slide {
    display: flex;
    justify-content: space-around;
}

.text {
    width: 35ch;
    line-height: 1.5em;
    position: relative;
    top: 0;
    /* mirar altura */
    height: 100%;
    right: 60px;
    margin-left: 15px;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


/* FOOTER ESTILOS */