article {
    display: flex;
    justify-content: space-evenly;
}

.div_profesor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div_profesor img {
    margin: 1.5vh;
    max-width: 10vw;
}

.div_profesor > h3,p {
    
    max-width: 45ch;
    text-align: justify;
    margin: 2px auto;
}

.div_profesor > section {
    padding: 5px;
    margin: 1.2vh;
    width: 20vw;
}