/* #datos-profesor {
    padding: 10px;
}

.carta {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    margin: 1vh auto;
    width: 80%;
    padding: 10px;
}

#profesor {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#curriculum {
    display: flex;
    justify-content: space-evenly;
}

#implicacion{
    padding: 10px
}

p {
    width: 40ch;
} */


main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2vh auto;
}

.carta {
    display: flex;
    justify-content: space-around;
    margin: 2.5vh 0;
}

.curriculum {
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
}

.curriculum > p {
    width: 40ch;
    margin: 1.5vh 3vw;
}

.datos-personales-profesor {
    display: flex;
    flex-direction: column;
}

.implicacion {
    width: 40ch;
    padding: 1vh 2vw;
}