

main{



    width: 80%;
    margin-left:  auto;
    margin-right: auto;
}
.cookie-popup-buttons button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #f13140;
    color: #fff;
    border-radius: 3px;
  }
  p{
    font-size: .75em;
  }
  .cookie-popup-buttons{
    text-align: center;
  }
  .cookie-popup-content a{
    color: #007bff;
  }

  .apartado_privacidad{
    color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.16);
    /* background-color: #fff; */
    border-radius: 10px;
    margin: 20px;
    padding: 25px;

    backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
    
  }

  
  .apartado_privacidad h3{
    margin: 10px;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }

  .apartado_privacidad p{
    font-size: 1.2em;
  }

  .apartado_privacidad li{
    font-size: 1.2em;
  }

  .apartado_privacidad li:before {
    content: "-"; /* Agrega el guion como contenido antes de cada elemento de la lista */
    display: inline-block; /* Hace que el guion sea parte del flujo en línea */
    width: 1em; /* Ajusta el ancho según sea necesario */
    margin-left: -1em; /* Mantiene el guion alineado correctamente */
  }

  .apartado_privacidad li{
    color: white;
    display: block;
}

.apartado_privacidad ul{
    list-style-type: disc;
    font-display: block;
}

.apartado_privacidad li:hover{
  font-weight: 100;
}