main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.norma_competicion{
    padding: 20px;
    margin: 20px;
}

.norma_competicion li{
    color: white;
    display: block;
}

.norma_competicion ul{
    list-style-type: disc;
    font-display: block;
}

.norma_competicion li:before {
    content: "-"; /* Agrega el guion como contenido antes de cada elemento de la lista */
    display: inline-block; /* Hace que el guion sea parte del flujo en línea */
    width: 1em; /* Ajusta el ancho según sea necesario */
    margin-left: -1em; /* Mantiene el guion alineado correctamente */
  }