main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    color: #ffffff;
    margin: 20px;
    padding: 15px;
}

.card{
    padding: 20px;
    margin: 20px;
}

.card li{
    color: white;
    display: block;
}

.card ul{
    list-style-type: disc;
    font-display: block;
}

.card li:before {
    content: "-"; /* Agrega el guion como contenido antes de cada elemento de la lista */
    display: inline-block; /* Hace que el guion sea parte del flujo en línea */
    width: 1em; /* Ajusta el ancho según sea necesario */
    margin-left: -1em; /* Mantiene el guion alineado correctamente */
  }
  h1{

    text-align: center;
  }

  .minienlaces li{
    justify-content: center;
    
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 5px;
  }

  .minienlaces ul{
    margin: 0, auto;
  }
