main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.card {
    overflow-y: auto; /*barra de desplazamiento INTENTAR MOVER HACIA ARRIBA JUSTO AL BORDE DE LAS IMAGENES*/ 
    max-width: 80%;
    margin: auto;
}

.imagenes_partido {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%; /* Asegura que la anchura sea del 100% */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.imagenes_partido img {
    margin: 10px;
    height: 200px;
    border-radius: 10px;
    max-width: 100%; 
}
