/* *{
    margin: 0;
    padding: 0;
    text-align: center;
}

main{
    display: flex;
    justify-content: space-evenly;
}

#Contenedor-jugadores  img {
width: 100px;
height: 150px;
margin: 10px;
border-radius: 5%;
}

#Contenedor-jugadores{
    display: flex;
    justify-content: space-around;
    width: 480px;
    flex-wrap: wrap;

    
}

#img-equipo{
    width: 500px;
    height: 750px;
    height: 500px;
    border-radius: 1%;
}

#Contenedor-entrenador{
    display: flex;
    justify-content: center ;
    position: relative;
}
.jugador{
    display: flex;
    justify-content: center ;
    position: relative;
}

#Contenedor-entrenador img {
    width: 100px;
    height: 150px;
    border-radius: 5%;
} */

/* #Contenedor-entrenador img:hover{
width: 150px;
height: 200px;

} */


/* .datos{
    position: absolute;
    bottom: 0.5rem;
}

#Contenedor-entrenador >  section {
    display: none;
}
#Contenedor-entrenador > a:hover + section {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: block;
} */

/* #Contenedor-jugadores img:hover{
    width: 150px;
    height: 200px;
    
    } */

/* .jugador >  section {
    display: none;
}
.jugador > a:hover + section {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: block;
} */

main {
    display: flex;
    width: 80%;
    margin: 4vh auto;
    flex-direction: column;
}
figcaption{
    color: white;
}

#img-equipo {
    margin:0%, auto;
    width: 100%;
    /* height: 30vh; */
}

#equipo-completo {
    /* height: fit-content; */
    width: 98%;
    padding: 1vh 1%;
    margin: 2.5vh 0;
}

#Contenedor-equipo {
    display: flex;
    flex-direction: column;
}

#Contenedor-equipo img {
    height: 25vh;
    width: 10vw;
    padding: 0;
    margin: 0;
    border-radius: 3%;
}

#Contenedor-equipo .card {
    width: fit-content;
    padding: 0;
}


#Contenedor-jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 2vw;
}

#Contenedor-entrenador {
margin: 1vh auto;
text-align: center;
}