pre {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
}


#img-objetivos_generales {
    width: 25vw;
    height: 60vh;
    margin: auto 0;
    padding: 4px; /* borde de la imagen */
}

#texto-objetivos_generales {
    margin: 2vh 15px;
}

/* #texto-objetivos_generales > * {
    width: 45ch;
} */

#texto-objetivos_generales h4 {
    width: 20ch;
    padding: 1.5em 0.5em;
}

#textos-objetivos_generales > p {
    padding: 5px 2px;
}

body {
    background: rgb(98,97,119);
background: linear-gradient(90deg, rgba(98,97,119,1) 2%, rgba(69,69,125,1) 56%, rgba(45,107,120,1) 99%);
}


/* Prueba nuevo estilo tarjetas */
#texto-objetivos_generales {
    display: flex;
    flex-direction: column;
}

#textos-objetivos_generales {
    display: flex;
    flex-wrap: wrap;

}

#textos-objetivos_generales > * {
    width: 40%;
    margin: 2vw;
}

main {
    width: 80%;
    margin: auto
}

h4 {
    margin: auto
}