main {
    margin: 2em auto;
    width: 80%;
    color: #F2F8FF;
}

main h1 {
    color: #F2F8FF;
}

.respuesta {
    color: rgb(166, 199, 199);;
    /* background-color: rgb(176, 226, 226); */
}

details {
    width: 50vw;
    margin: 1.2em;
    /* position: relative; */
}

.card {
    padding: 15px;
    /* z-index: -1; */
}

/* header {
    position: relative;
    z-index: 10000;
} */