#contenedor-ubicacion {
    display: flex;
    justify-content: space-evenly;
    /* width: 80%; */
    margin: 2vh auto;
}

iframe {
    margin: auto;
    width: 30vw;
    border-radius: 2.5%;   
}


/* Estilo formulario */
#formulario-contacto {
    margin: 3vh 1.2vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    border-radius: 5%;
    /* box-shadow: 4px 4px 5px -3px #000000;  */
    padding: 2vh;
}


#btnEnviar-Contacto {
    height: 50px;
    width: 50%;
    margin: 5px auto;
    border-radius:  25px;
    padding: 2px;
    background-color: rgba(221, 212, 201, 0.717);
    /* Ancho alto propagacion color */
    box-shadow: 2px 1px 2px -3px #000000; 
}

#btnEnviar-Contacto:hover {
    transform: scale(1.1);
}

#formulario-contacto section {
    display: flex;
    flex-direction: column;
}

input, textarea, label{
    width: 25ch;
    overflow: hidden;
    margin: 0.5vh auto;
}

#datos-ubicacion {
    text-align: center;
}


main {
    width: 80%;
    margin: 0 auto 2vh;
}