main {
    /* con esto se ajusta con el menu y el footer */
    margin: auto;
    width: 80%;
    line-height: 1.4em;
}

/* divs retos todos con la misma clase */
/* .div_reto {
    margin: 15px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
} */


.div_reto {
    display: flex;
    flex-direction: column;
    padding: 2vh;

    margin: 4vh auto;
}

.modulo {
    display: flex;
    justify-content: space-evenly;
}

.responsabilidades {
    width: 80ch;
    margin: 0 3vw;
}

.datos-modulo {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:  fit-content;
}
.datos-modulo img {
    align-self: center;
}

.miembros-modulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alumnos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}