main{
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
    color: white;
    width: 80%;

    display: flex;
    flex-direction: column;
}
.contenedor{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  .grupos {
    margin-top: 30px;
  }
  
  h2 {
    /* color: #333; */
    font-size: 20px;
    margin-bottom: 10px;
  }

  .fase{
    text-align: center;
    align-content: center;
    margin: 20px;
    padding: 20px;
  }
  .fase img{

    width: 500px;
    border-radius: 10px;
  }
  h1{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
  }
