/* DEFINICION DE TIPOGRAFIAS A UTILIZAR */

@font-face {
    font-family: 'collegeSimple';
    src: url('../RECURSOS/FONTS/COLLEGE.TTF') format('truetype');
}

@font-face {
    font-family: 'collegeDoble';
    src: url('../RECURSOS/FONTS/Colleged.ttf') format('truetype');
}





/* --------------------------------------------------------------------------- ESTILOS PARA LA BARRA DE NAVEGACION */
body {
    
    margin: 0;
    padding: 0;
}

header {
  position: relative;
  z-index: 1000;
}

main {
  font-family: 'collegeSimple', sans-serif;
  font-size: 1.2em;
}

nav {
    width: 80%;
    font-family: 'collegeSimple', sans-serif;
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Posicionar menu */
nav > ul {
    text-align: center;
}

ul {
    
    list-style: none;
    margin: 0;
    padding: 5px;
}

li {
  width: fit-content;
    display: inline-block;
    position: relative;
}

a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

ul ul {
  width: fit-content;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    
}

ul ul ul {
    left: 100%;
    top: 0;
    
    
}

li:hover>ul {
  
    display: inherit;
    width: fit-content;
}

/*OJO AQUI QUE VIENEN CURVAS JALEITO BUENO*/
li:hover{
    font-weight: bolder;
}

li:hover > ul li {
  width: fit-content;
  white-space: nowrap;/*hace que el menu al desplegarlo no se divida en 2 lineas pero el siguiente lo despliega en horizontal*/
  display: block; /*hace que la linea anterior no despliegue lso submenus en linea, de nada crack!;-)*/
    font-weight: normal;/*hace que al hacer hover, el submenu no se despliegue en negrita*/
}

li:hover > ul li:hover {
  display: block;
  width: fit-content;
  
    font-weight: bolder;/*hace que al hacer hover, sobre el submenu no se ponga en negrita*/
}



/*----------------------------------------------------------------------- INCLUIR ESTILOS PARA EL FOOTER */
footer {
    width: 80%;
    font-family: 'collegeSimple', sans-serif;
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#pie_pagina {
    /* width: fit-content; */
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer_colaboradores,
  .footer_redes_sociales {
    margin-top: 3px; /* Ajusta el margen entre las dos líneas según tus preferencias */
  }
  
  .footer_colaboradores ul,
  .footer_redes_sociales ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer_colaboradores li,
  .footer_redes_sociales li {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espaciado entre elementos según tus preferencias */
  }
  
  .img_colaborador {
    height: 40px; /* Altura para las imágenes de colaborador */
  }
  
  .footer_redes_sociales a img {
    
    height: 30px; /* Altura para los logos enlaces */
  }
  .footer_redes_sociales a{
    text-decoration: underline;
    color: #fff; 
  }
  .footer_redes_sociales a:hover{
    font-weight: bolder;
  }
/*------------------------------------------------------------------------- INCLUIR ESTILOS PARA H1-H6 */

h1, h2, h3, h4, h5, h6, p{
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
z-index: -1; /* Para que no tenga problemas con el menu*/
}

/* Prueba color fondo general */
body {
  background: rgb(98,97,119);
background: linear-gradient(90deg, rgba(98,97,119,1) 2%, rgba(69,69,125,1) 56%, rgba(45,107,120,1) 99%);
}

/* Sugerencias estilo fondo */
body {
  /* background-image: linear-gradient(to right bottom, #91a643, #5bb885, #4ac0c0, #80c1de, #b7c1dd);
  background-image: linear-gradient(to right bottom, #8959d4, #7176e2, #628ee7, #64a2e5, #79b3e0);
  background-image: linear-gradient(to right bottom, #7c98c2, #7793c4, #748dc6, #7387c7, #7381c7);
  background-image: linear-gradient(to right bottom, #626177, #5d5c78, #58567a, #52517b, #4d4c7c, #444e7f, #3a4f81, #2e5183, #1e5983, #176081, #1f667d, #2d6b78); */
  /* background-image: linear-gradient(to right bottom, #602ad9, #574ce3, #5565e9, #5c7beb, #6a8feb, #52a1ed, #4fb0e9, #61bde1, #6bc8d0, #8bcfbe, #aed3b3, #cfd6b2); */
  /* background-image: linear-gradient(to right bottom, #2d6b78, #1f667d, #176081, #1e5983, #2e5183, #3a4f81, #444e7f, #4d4c7c, #52517b, #58567a, #5d5c78, #626177); */
}

header {
  position:fixed;
  top: 20px;
  width: 100%;
}

body {
  margin-top: 100px;
}