main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

section {
    margin:2vh auto;
}

#ods2,#ods3,#ods4 {
    margin: 3vh auto;
    padding: 1.5vh 2vw 1.5vh 1vw;
}

.card img {
    border-radius: 10%;
    display: block;
    margin: auto;
}

.texto-ods h3{
    width: fit-content;
    margin: 1vh auto;
}

.texto-ods {
    text-align: justify;
}

#intro-ods {
    padding: 2vh 2vw;
}