main{color: white;
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

.partidos{
  margin-left: auto;
  margin-right: auto;
}

table {
    
    border: none;
    width: fit-content;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: none;
    
    padding: 8px;
    text-align: center;
  }
  h1{

    text-align: center;
  }
  h3{
    text-align: center;
    font-size: 1.5em;
  }
  table{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .card{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 15px;
  }
  .resultado{
    margin-bottom: 20px;
  }