
  
  .cookie-popup {
    margin: 0;
    font-family: Arial, sans-serif;
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;

    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 20000;
  }
  
  .cookie-popup-content {
    text-align: center;
  }  
  .cookie-popup-buttons button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #f13140;
    color: #fff;
    border-radius: 3px;
  }
  p{
    font-size: .75em;
  }
  .cookie-popup-content a{
    color: #007bff;
  }
  