body {
  margin: 0;
  padding: 0;
}

#pie_pagina {
  width: fit-content;
  background-color: #333; 
  color: #fff; 
  text-align: center;
  padding: 3px, 5px;
  margin-left: auto;
  margin-right: auto;
}

.footer_colaboradores,
.footer_redes_sociales {
  margin-top: 3px; /* Ajusta el margen entre las dos líneas según tus preferencias */
}

.footer_colaboradores ul,
.footer_redes_sociales ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_colaboradores li,
.footer_redes_sociales li {
  display: inline-block;
  margin-right: 10px; /* Ajusta el espaciado entre elementos según tus preferencias */
}

.img_colaborador {
  height: 40px; /* Altura para las imágenes de colaborador */
}

.footer_redes_sociales a img {
  
  height: 30px; /* Altura para los logos enlaces */
}
.footer_redes_sociales a{
  color: #fff; 
}
.footer_redes_sociales a:hover{
  font-weight: bolder;
}