
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* ESTILO MENU */
#desplegable {
    list-style: none;
    display: flex;
    border: 4px solid seagreen;
}

#desplegable li {
    width: 100%;
}

#desplegable a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.sublista {
    display: none; /* Inicialmente oculta los elementos */
    list-style: none;
}

.enlace:hover .sublista {
    display: block; /* Muestra los elementos cuando el cursor está sobre el elemento principal */
}

.sublista_2 {
    display: none; /* ocultamos los elementos */
    list-style: none;
}

.sublista:hover .sublista_2 {
    display: block;
}

/* CONTENIDO */
#contenido {
    /* ancho de la pagina */
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 15px;
}

/* imagen de la empresa/colaborador */
#titulo img {
    width: 95px; 
    height: 95px;
}

/* contenedor donde va la imagen y el titulo de la empresa */


/* informacion de la empresa */
/* #informacion {
    width: 40%;
    border: 4px solid seagreen;
    padding: 10px;
    /* margin-bottom: 15px; */
} */

/* mas informacion de la empresa */
#informacion_extra {
    border: 4px solid seagreen;
}
/* FIN CONTENIDO */

/* PIE DE PAGINA */
/* Estilos para el contenedor de avisos legales */
#avisos_legales {
    float: left;
    width: 50%; /* Ancho del contenedor de avisos legales */
  }
  
  /* Estilos para el contenedor de redes sociales */
  #redes_sociales {
    float: right;
    width: 50%; /* Ancho del contenedor de redes sociales */
  }
  
  /* Estilos para la lista de avisos legales */
  #avisos_legales ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
  }
  
  /* Estilos para la lista de redes sociales */
  #redes_sociales ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    text-align: right; /* Alinea los íconos de redes sociales a la derecha */
  }
  
  /* Estilos para los íconos de redes sociales */
  #redes_sociales ul li {
    display: inline-block; /* Coloca los íconos en línea */
    margin-left: 10px; /* Espacio entre íconos */
  }
  
  /* Estilos para los íconos de redes sociales */
  #redes_sociales ul li a img {
    width: 30px; /* Ancho de los íconos */
    height: 30px; /* Altura de los íconos */
  }

  .slide img{
    height: 400px;
  }

  .card{
    padding: 20px;
    margin: 20px;
  }

  .card li{
    color: white;
  }

  #contenido{
    width:95%;
    margin-left: auto;
    margin-right: auto;
  }

  #informacion_extra{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .card li:hover{
    font-weight: 100;
  }